body {
  font-family: Arial, sans-serif;
  background-color: #faefe0; /* beige */
  color: #006400; /* dark green */
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid #8fbc8f; /* dark olive green */
  border-radius: 10px;
  background-color: #006400; /* khaki */
  box-shadow: 0px 0px 10px #888888; /* shadow effect */
}

h2 {
  color: #faefe0; /* dark green */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #faefe0; /* dark green */
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 10px); /* Subtract padding width from 100% */
  padding: 5px;
  border: 1px solid #8fbc8f; /* dark olive green */
  border-radius: 5px;
  background-color: #fafad2; /* light goldenrod yellow */
  color: #556b2f; /* dark olive green */
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #faefe0; /* dark green */
  color: #006400; /* white */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9ed29e; /* green */
  border: faefe0;
}
